@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces&display=swap');
/* ================== */
/* global section */
/* ================== */
:root{
    --soft-red: rgb(254, 120, 103);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-blue: hsl(168, 34%, 41%);
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue:  hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    --hamburger-transition: .6s ease-out;

}

body,html{
    font-size: 18px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    font-family: "Barlow" ,sans-serif;
    font-weight: 600; 
    background-size: cover;
    height: 100%;
}
/* ================== */
/* navbar section */
/* ================== */
.navbar{
    display: flex;
    justify-content: space-between!important;
    padding: 1.3rem 1.5rem;
    height: auto;
    color: var(--white);
}

.nav-links{
    display: flex;
    gap: 2rem;
    align-items: center;
    height: auto;
}

.nav-link{
    font-size: 14px;
    color: var(--white);
}

.nav-link:hover,
.nav-link:active{
    opacity: .75;
    cursor: pointer;
}

.special-link{
    padding: .7rem .9rem;
    background: var(--white);
    color: var(--very-dark-desaturated-blue) ;
    border-radius: 25px;
    font-family: "Fraunces";
    font-weight: 700;
}

.special-link:active,
.special-link:hover{
    opacity: .75;
    cursor: pointer;
}

.three-bars{
    display: none;
    overflow: hidden;
    transition: ease-in .8s;
}

.three-bars:hover,
.three-bars:active{
    transform: rotate(90deg);
    cursor: pointer;
    transition: var(--hamburger-transition);
}
@media (max-width: 50rem){
    .nav-links{
        flex-direction: column;
        background-color: var(--white);
        position: absolute;
        z-index: 1;
        left: 5%;
        top: 16%;
        padding: 1rem 0;
        transition: all 0.3s linear;
        width: 0;
        overflow: hidden;
    }

    .nav-link{
        color: var(--very-dark-grayish-blue);
    }

    .special-link{
        background-color: var(--yellow);
    }

    .nav-logo{
        width: 130px;
        height: auto;
    }
    .three-bars{
        display: block;
        overflow: auto;
    }
}
/* ================== */
/* header section */
/* ================== */
.header{
    background-repeat: no-repeat;
    background-image: url(images/desktop/image-header.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 110vh;
}

.header-img{
    width: 100%;
    z-index: 0;
}

.header-title{
    text-align: center;
    font-weight: 900;
    font-family: "Fraunces",sans-serif;
    color: var(--white);
    font-size: 350%;
    margin-top: 2rem;
}

.arrow-down{
    position: relative;
    margin: 0 auto;
    display: block;
    padding-top: 4rem;
}

.visible{
    width: 90%!important;
    overflow: visible!important;
}

@media (max-width: 50rem){
    .header{
        background: url(images/mobile/image-header.jpg) no-repeat;
        background-size: 100% 100%;
    }
    .header-title{
        font-size: 300%;
    }
}

@media (max-width: 37rem){
    .header-title{
        font-size: 240%;
    }
}

/* ================== */
/* section1 flex-element */
/* ================== */
.flex-main{
    display: flex;
    width: 100%;
}

.flex-image{
    flex-shrink: 2;
    flex-grow: 2;
}

.flex-container{
    display: flex;
    flex-direction: column;
    display: block;
    position: relative;
    margin: auto;
    padding: 12% 9.66%;
}

.flex-text{
    font-size: .95rem;
    margin: 4rem 0;
    color: var(--dark-moderate-blue);
}

.flex-header{
    font-size: 2rem;
    color: var(--very-dark-desaturated-blue);
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
}

.flex-link{
    color: var(--very-dark-desaturated-blue);
    font-size: 1.3rem;
    text-decoration: none;
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
}

.wdth-50{
    width: 50%;
}

@media (max-width: 50rem) {
    .flex-main{
        flex-direction: column;
    }

    .flex-container{
        padding: 5rem 3%;
    }

    .flex-image{
        width: 100%!important;
    }
}

/* ==================================== */
/* section 2 graphic-design photography */
/* ==================================== */
.section-two-container{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 26% 12% 4% 12%;
}

.graphic-container{
    background-image: url(images/desktop/image-graphic-design.jpg);
}

.graphic-header{
    font-family: "Fraunces", sans-serif;
    color: var(--dark-desaturated-cyan);
    font-family: "Fraunces",sans-serif;
    font-weight: 900;
    font-size: 1.45rem;
}

.graphic-text{
    font-size: 14px;
    color: var(--dark-desaturated-cyan);
}

.photography-container{
    background-image: url(images/desktop/image-photography.jpg);
}

.photography-header{
    color: var(--dark-blue);
    font-family: "Fraunces",sans-serif;
    font-weight: 900;
    font-size: 1.45rem;
}

.photography-text{
    font-size: 14px;
    color: var(--dark-blue);
}

@media (max-width: 50rem) {
    .section-two-container{
        padding: 39% 14% 7% 14%;
        width: 72%;
    }
}

/* ==================== */
/* testimonials section */
/* ==================== */
.testimonial-header{
    padding: 9% 0 4.5% 0;
    display: flex; 
    justify-content: center;
    font-weight: 900; 
    color: var(--dark-grayish-blue);
    font-size: 1.75rem;
    font-family: "Fraunces", sans-serif;
}

.testimonial-container-main{
    display: flex;
    gap: 2rem;
    margin: 0 10% 12% 10%;
}

.testimonial-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-logo{
    width: 3.5rem;
    border-radius: 50%;
}

.testimonial-text{
    color: var(--very-dark-desaturated-blue);
    max-width: 20rem;
    line-height: 1.7;
    margin: 2.5rem 0;
}

.testimonial-name{
    color: var(--dark-blue);
    font-weight: 900;
    font-family: "Fraunces", sans-serif;
    margin-bottom: 1.5rem;
}

.testimonial-job{
    color: var(--dark-grayish-blue);
    font-size: 15px;
}










/* custom scrollbar*/
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }