@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces&display=swap');
/* ================== */
/* global section */
/* ================== */
:root{
    --soft-red: rgb(254, 120, 103);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-blue: hsl(168, 34%, 61%);
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue:  hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

body,html{
    font-size: 18px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    font-family: "Barlow" ,sans-serif;
    font-weight: 600; 
    height: 100%;
}
/* ============== */
/* navbar section */
/* ============== */
.nav{
    display: flex;
    justify-content: space-between!important;
    padding: 1.3rem 1.5rem;
    height: auto;
    color: var(--white);
}

.nav-links{
    display: flex;
    gap: 2rem;
    align-items: center;
    height: auto;
}

.nav-link{
    font-size: 16px;
    color: var(--white);
}

.nav-link:hover,
.nav-link:active{
    opacity: .75;
    cursor: pointer;
}

.special-link{
    padding: .75rem 1.35rem;
    background: var(--white);
    color: var(--very-dark-desaturated-blue) ;
    border-radius: 50px;
    font-weight: 900;
}

.special-link:active,
.special-link:hover{
    opacity: .75;
    cursor: pointer;
}

.three-bars{
    display: none;
    overflow: hidden;
}

.three-bars:hover,
.three-bars:active{
    cursor: pointer;
}

@media (max-width: 50rem){
    .nav{
        justify-content: space-between;
    }

    .nav-links{
        flex-direction: column;
        background-color: var(--white);
        position: absolute;
        z-index: 1;
        left: 5%;
        top: 20%;
        padding: 1.8rem 0;
        transition: ease-in-out 0.3s;
        width: 0;
        overflow: hidden;
    }

    .nav-links::before{
        position: absolute;
        top: -10%;
        right: 0;
        content: "";
        width: 0;
        height: 0;
        border-top: 30px solid transparent;
        border-right: 30px solid var(--white);
    }

    .nav-link{
        color: var(--very-dark-grayish-blue);
    }

    .special-link{
        background-color: var(--yellow);
    }

    .nav-logo{
        width: 130px;
        height: auto;
    }

    .three-bars{
        display: block;
        overflow: auto;
    }

    .three-bars:active,
    .three-bars:hover{
        filter:blur(1px);
    }
}

/* ================== */
/* header section */
/* ================== */
.header{
    background-repeat: no-repeat;
    background-image: url(images/desktop/image-header.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}

.header-img{
    width: 100%;
}

.header-title{
    text-align: center;
    font-weight: 1100;
    font-family: "Fraunces",sans-serif;
    color: var(--white);
    font-size: 4.5rem;
    margin-top: 2rem;
}

.arrow-down{
    position: relative;
    margin: 0 auto;
    display: block;
    padding-top: 4rem;
    animation: 4s arrow infinite;
}

@keyframes arrow {
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(50px)
    }

    100%{
        transform: translateY(0);
    }
}

.visible{ /* needed for navbar */
    width: 90%!important;
    overflow: visible!important;
}

@media (max-width: 50rem){
    .header{
        background: url(images/mobile/image-header.jpg) no-repeat;
        background-size: 100% 100%;
        height: 80%;
    }

    .header-title{
        font-size: 300%;
    }
}

@media (max-width: 37rem){
    .header-title{
        font-size: 240%;
    }
}

/* ====================== */
/* section-1 grid-element */
/* ====================== */
.grid-image{
    width: 100%;
}

.grid-main{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
}

.wdth-50{ /* bullshit but needed for right containers */
    width: 50%;
}

.grid-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
}

.grid-header{
    font-size: 2rem;
    color: var(--very-dark-desaturated-blue);
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    max-width: 20rem;
}

.grid-text{
    font-size: .95rem;
    margin: 4rem 0;
    color: var(--dark-moderate-blue);
    max-width: 24rem;
}

.grid-link{
    color: var(--very-dark-desaturated-blue);
    font-size: 1.3rem;
    text-decoration: none;
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
}
  
.grid-link--yellow:hover,
.grid-link--yellow:active {
    text-decoration: underline 4px #fad400;
    opacity: .75;
}
  
.grid-link--red:hover,
.grid-link--red:active {
    text-decoration: underline 4px #fe7867;
    opacity: .75;
}


.grid-image-orange{
    order: 2;
}

.flex-order-container{
    order: 1;
}

@media (max-width: 50rem) {
    .grid-main{
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        width: auto;
    }

    .flex-main{
        flex-direction: column;
    }

    .grid-container{
        padding: 1.5rem 0;
        order: 2;
        width: 100%;
    }

    .grid-header{
        margin-left: 10%;
    }

    .grid-text{
        margin-left: 10%;
        margin-right: 5%;
    }

    .grid-link{
        margin-left: 10%;
    }

    .grid-image{
        width: 100%!important;
    }

    .grid-image-orange{
        order: 1!important;
    }    
}

/* ====================== */
/* section-2 flex-element */
/* ====================== */
.flex-main{
    display: flex;
    width: 100%;
}

.section-two-container{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 30% 12% 5% 12%;
}

.graphic-container{
    background-image: url(images/desktop/image-graphic-design.jpg);
    background-color: hsl(167, 40%, 44%);
}

.graphic-header{
    font-family: "Fraunces", sans-serif;
    color: var(--dark-desaturated-cyan)!important;
    font-weight: 900;
    font-size: 1.45rem;
}

.graphic-text{
    font-size: 14px;
    color: var(--dark-desaturated-cyan)!important;
}

.photography-container{
    background-image: url(images/desktop/image-photography.jpg);
    background-color: hsl(198, 62%, 56%);
}

.photography-header{
    color: var(--dark-blue)!important;
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    font-size: 1.45rem;
}

.photography-text{
    font-size: 14px;
    color: var(--dark-blue)!important;
}

@media (max-width: 50rem) {
    .section-two-container{
        padding: 50% 14% 7% 14%;
        width: 72%;
    }
}

/* ==================== */
/* testimonials section */
/* ==================== */
.testimonial-header{
    padding: 9% 0 4.5% 0;
    display: flex; 
    justify-content: center;
    font-weight: 900; 
    color: var(--dark-grayish-blue);
    font-size: 1.75rem;
    font-family: "Fraunces", sans-serif;
}

.testimonial-container-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    margin: 0 10% 12% 10%;
}

.testimonial-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-logo{
    width: 3.5rem;
    border-radius: 50%;
}

.testimonial-text{
    color: var(--very-dark-desaturated-blue);
    max-width: 25rem;
    line-height: 1.7;
    margin: 2.5rem 0;
}

.testimonial-name{
    color: var(--dark-blue);
    font-weight: 900;
    font-family: "Fraunces", sans-serif;
    margin-bottom: 1.5rem;
}

.testimonial-job{
    color: var(--dark-grayish-blue);
    font-size: 15px;
}

@media (max-width: 50rem){
    .testimonial-container-main{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 0 5% 12% 5%;
    }
    .testimonial-container{
        margin: 1rem 0;
    }
}

/* =================== */
/* image gallery grid*/
/* =================== */
.grid-photos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.grid-image{
    width: 100%;
}

@media (max-width: 50rem){
    .grid-photos{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

/* ============== */
/* footer section */
/* ============== */
.footer-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-color: var(--dark-moderate-blue);
    gap: 1rem;
    padding: 4rem 0 2rem 0;
}

.footer-logo{
    width: 10rem;
    
}

.footer-sub-container{
    display: flex;
    gap: 3rem;
    margin: 1rem 0;
}

.footer-contact{
    display: flex;
    gap: 1.5rem;
    margin: 1rem 0; 
}

.footer-link{
    color: var(--dark-desaturated-cyan);
    text-decoration: none;
}

.contact:hover,
.contact:active{
    filter: invert(89%) sepia(100%) saturate(0%) hue-rotate(294deg) brightness(350%) contrast(100%);
    cursor: pointer;
}

.footer-link:hover,
.footer-link:active{
    color: var(--white);
    cursor: pointer
}

/* ================ */
/* custom scrollbar */
/* ================ */
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
